.address {
  background-color: white;
  padding: 16px 30px;
  .user_info {
    display: flex;
    align-items: center;
    .name {
      font-size: 34px;
      font-weight: 700;
    }
    .phone {
      font-size: 30px;
      color: rgb(172, 172, 172);
      margin-left: 10px;
    }
  }
  .content {
    font-size: 32px;
  }
}
